### Author: Shahnawaz Mogal

###Purpose: Analysis of tweets part of Russian Misinformation campaign (2016)

In [64]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [65]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [67]:
import pandas as pd

df = pd.read_csv("data/tweets.csv")

In [68]:
df.head(5)

        user_id         user_key  ...  retweeted_status_id in_reply_to_status_id
0  1.868981e+09    ryanmaxwell_1  ...                  NaN                   NaN
1  2.571870e+09  detroitdailynew  ...                  NaN                   NaN
2  1.710805e+09       cookncooks  ...                  NaN                   NaN
3  2.584153e+09     queenofthewo  ...                  NaN                   NaN
4  1.768260e+09     mrclydepratt  ...                  NaN                   NaN

[5 rows x 16 columns]

In [69]:
len(df)

203482

In [70]:
vader = SentimentIntensityAnalyzer()

In [71]:
%%time
df["text"] = df["text"].apply(str)
df["sentiment"] = df["text"].apply(vader.polarity_scores)

CPU times: user 38.8 s, sys: 252 ms, total: 39.1 s
Wall time: 39.1 s

In [72]:
df["sentiment"] = df["sentiment"].apply(lambda x:x["compound"])

In [73]:
def num_to_category(num):
  if num<-0.5:
    return "HN"
  elif num<0:
    return "N"
  elif num<0.5:
    return "P"
  else:
    return "HP"
df["category"] = df["sentiment"].apply(num_to_category)

In [74]:
import collections

print(collections.Counter(df.category))

Counter({'P': 114648, 'N': 32392, 'HN': 29580, 'HP': 26862})

In [75]:
list_of_hashtags = []
str_hashtags = list(l for l in list(df["hashtags"]) if l!="[]")

for l in str_hashtags:
  split_list = l.lstrip("[").rstrip("]").split(",")
  for h in split_list:
    list_of_hashtags.append(h)
  
len(list_of_hashtags)

121139

In [77]:
df2 = pd.DataFrame()
df2["hashtags"] = list_of_hashtags
df2.head(5)

                   hashtags
0              "IslamKills"
1      "ChristmasAftermath"
2        "Blacklivesmatter"
3  "MyFarewellWordsWouldBe"
4       "My2017BiggestHope"

In [78]:
df2['hashtags'].value_counts()[:15].sort_values(ascending=False)

"Politics"             3606
"maga"                 3079
"Trump"                2425
"tcot"                 2366
"news"                 1973
"NeverHillary"         1375
"pjnet"                1276
"TrumpPence16"          980
"Trump2016"             947
"MerkelMussBleiben"     796
"Hillary"               758
"TrumpTrain"            719
"HillaryClinton"        704
"CrookedHillary"        678
"WakeUpAmerica"         661
Name: hashtags, dtype: int64

In [79]:
list_of_negative_hashtags = []
str_hashtags = list(l for l in list(df[df['category']=="HN"]["hashtags"]) if l!="[]")

for l in str_hashtags:
  split_list = l.lstrip("[").rstrip("]").split(",")
  for h in split_list:
    list_of_negative_hashtags.append(h)

df3 = pd.DataFrame()
df3["negative_hashtags"] = list_of_negative_hashtags
df3['negative_hashtags'].value_counts()[:10].sort_values(ascending=False)

"maga"                 447
"tcot"                 428
"Trump"                390
"Politics"             264
"NeverHillary"         256
"news"                 241
"MerkelMussBleiben"    219
"pjnet"                171
"CrookedHillary"       163
"Trump2016"            154
Name: negative_hashtags, dtype: int64

In [80]:
list_of_positive_hashtags = []
str_hashtags = list(l for l in list(df[df['category']=="HP"]["hashtags"]) if l!="[]")

for l in str_hashtags:
  split_list = l.lstrip("[").rstrip("]").split(",")
  for h in split_list:
    list_of_positive_hashtags.append(h)

df4 = pd.DataFrame()
df4["positive_hashtags"] = list_of_positive_hashtags
df4['positive_hashtags'].value_counts()[:10].sort_values(ascending=False)

"maga"            597
"Trump"           352
"tcot"            229
"Politics"        228
"TrumpPence16"    183
"TrumpTrain"      159
"Trump2016"       154
"NeverHillary"    152
"news"            131
"CCOT"            119
Name: positive_hashtags, dtype: int64